@charset "utf-8";

.footer{
    flex: 0 1 1280px;
    height: auto;
    padding: 20px 0;
}
.footer .inner-footer{
    display: flex;
    justify-content: center;
    background-color: #ccc;
    padding: 20px 0;

}
.footer .inner-footer .fcon{
 font-weight: lighter;
 text-align: center;
 line-height: 75px;
}
